{% extends 'base.html'%}
{%import 'macros.html' as macro%}

{% block content %}
<div class="container">
    <div class="row">
        <!-- displaying  Username-->
        <div class="col-sm-4">
            <h3> {{user.username| capitalize}} </h3>
            {% if user.profile_pic_path %}
            <img style="width:150px;height:100px" src="{{url_for('static',filename=user.profile_pic_path)}}" >
            {%else%}
            <p>No profile picture</p>
            {% endif %}
            <p>Name: {{user.firstname}} {{user.lastname}} </p>
            <p>No of piches: {{pitches_count}}</p>
            <p>Date joined: {{date}}</p>
        </div>
            <div class="col-sm-8">
                <h3> My Pitches </h3>
                {{macro.displayPitches(pitches)}}
            </div>
        </div>
    </div>
{% endblock %}
