body{
    background-image: url(../siteimages/time.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
.panel{
    color:black;
    opacity: 0.8;
}
h1 {
    text-align: center;
}