
body{
  background-image: url("https://d1eipm3vz40hy0.cloudfront.net/images/blog/sales-pitch-examples-blog-header.png");

  background-attachment: fixed;
  background-size: cover;
  color: white;
}
img {
  width:150px;
  height: 100px;
}
#one {
  background-color: rgba(0,0,0,0.6);
  font-family: fantasy;
}
.title {
  color: blueviolet;
}
.panel{
    color:white;
    opacity: 0.8;
}
h1 {
    text-align: center;
}
#pi {
  margin-bottom: 20%;
}
#nav{
  margin-bottom: 10%;
    position: absolute;
    z-index: 5;
    width: 100%;
    background-color: black;
}
.navbar{
    padding: 10px 0;
}

.navbar-brand{
    font-weight: bolder;
    font-size: 40px;
    padding-left: 20px;
    color: white;
    text-decoration: none;
}
.navbar-brand:hover{
    color: white;
}
.navbar-brand span{
    color: tomato;
    font-family: 'Lobster', cursive;
    font-style: italic;
}
.navbar-dark .navbar-brand{
    color: #dcdde1;
}
.nav-link{
    font-weight: bolder;
    padding-left: 20px;
    font-size: 25px;
    color: black;

}
.nav-link:hover{
    color: tomato;
    border-radius: 1px;
}
.active a{
  color: tomato;
}
.active a:hover{
    color: white;
}
