{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Styles block -->
{%block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Vidaloka&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{%endblock%}

<!-- Content block -->
{%block content%}
<hr>

    <h1 style="margin-top:15%;margin-bottom:5%;"> Welcome to one-minute Pitch!</h1>

<div class="container text-center" style="padding-bottom: 5%">
    <a href="{{url_for('main.new_pitch')}}" class="btn btn-danger">Create your own pitch</a>
</div>

<div class="container " style="font-family: 'Cormorant Upright', serif;">
  <h3 class="text-center" style="margin-bottom:2%">one-minute Pitch categories</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="well well-lg">
                <h3 class= "text-danger">Business Pitches</h3>
                <p>Pitch with us any business idea and let's make it work!.</p>
                <a href="{{url_for('main.business_pitches')}}" class="btn btn-primary -center">View added pitches</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3 class="text-danger">Promotion Pitches</h3>
                <p>Pitch with us any promotion pitches and let's see what others think.</p>
                <a href="{{url_for('main.promotion_pitches')}}" class="btn btn-primary -center">View added pitches</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3 class="text-danger">Product Pitches</h3>
                <p>Pitch with us  any products, and let's make profits out of it and see what others think!</p>
                <a href="{{url_for('main.product_pitches')}}" class="btn btn-primary -center">View added pitches</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}
