{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Welcome To The Pitch</h1>
    <a href="{{url_for('main.add_pitch')}}" class="btn btn-primary">Add Pitch</a>
    <hr>
    <div class="row">
        <div>
            <h1>Product Pitches</h1>
            {% for pitch in pitches %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Product Pitch</div>
                <div class="panel-body">
                <p>{{ pitch.pitch }}</p>
                <p><strong>by: {{ pitch.user.username }}</strong></p>
                <a href="{{url_for('main.comment',pitch_id=pitch.id)}}" class="btn btn-primary">Comment</a>
                <a href="#" class="btn btn-primary">Upvote</a>
                <a href="#" class="btn btn-primary">Downvote</a>
            </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div>
            <h1>Interview Pitches</h1>
            {% for pitch in interview_pitch %}
            <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Interview Pitch</div>
                    <div class="panel-body">
                <p>{{ pitch.pitch }}</p>
                <p><strong>by: {{ pitch.user.username }}</strong></p>
                <a href="{{url_for('main.comment',pitch_id=pitch.id)}}" class="btn btn-primary">Comment</a>
            </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div>
            <h1>Promotion Pitches</h1>
            {% for pitch in promotion_pitch %}
            <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Promotion Pitch</div>
                    <div class="panel-body">
                <p>{{ pitch.pitch }}</p>
                <p><strong>by: {{ pitch.user.username }}</strong></p>
                <a href="{{url_for('main.comment',pitch_id=pitch.id)}}" class="btn btn-primary">Comment</a>
            </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div>
            <h1>Pick-up Pitches</h1>
            {% for pitch in pickup_pitch %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Pick-up Pitch</div>
                    <div class="panel-body">
                <p>{{ pitch.pitch }}</p>
                <p><strong>by: {{ pitch.user.username }}</strong></p>
                <a href="{{url_for('main.comment',pitch_id=pitch.id)}}" class="btn btn-primary">Comment</a>
            </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>



</div>
{% endblock %}