
<section id="nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg bg-transparent">
                <a href="/" class="navbar-brand"><span>  O</span>ne-minute <span>P</span>itch</a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">HOME</a>
                    </li>
                    <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">Pitch categories <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" style="color:black" href="{{url_for('main.business_pitches')}}">Business pitches</a></li>
                            <li><a class="nav-link" style="color:black" href="{{url_for('main.product_pitches')}}">Product pitches</a></li>
                            <li><a class="nav-link" style="color:black" href="{{url_for('main.promotion_pitches')}}">Promotion pitches</a></li>
                        </ul>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle  text-white" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">{{current_user.username| capitalize}}<span
                                ></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" style="color:black" href="/profile/{{current_user.username}}">My Profile</a></li>
                            <li><a class="nav-link" style="color:black" href="{{url_for('main.user_pitches', uname=current_user.username)}}">My pitches</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white" href="{{url_for('auth.logout')}}">Log out</a>
                    </li>
                    {%else%}
                    <li class="nav-item  text-white" style="color:white"><a class="nav-link" href="{{url_for('auth.login')}}">Sign in</a></li>
                    <li class="nav-item  text-white" style="color:white"><a class="nav-link" href="{{url_for('auth.register')}}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </section>
