
{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}

{%block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Vidaloka&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
{%endblock%}
<!-- Content block -->
{%block content%}
<hr> <br><br> <br>
<br>
<div id="pi" class="container" style="font-family: 'Lobster Two', cursive;">
    <div class="row">
      <div class="col-sm-5">
        <h3 style="text-decoration:underline">{{pitch.pitch_title}}</h3>

        <p>{{pitch.pitch_content}}</p>
        <span>
        <p>Posted on {{date}} by {{pitch.user.username| capitalize}}</p>
        <p>like <a href="/pitch/{{pitch.id}}?like=1">
            <i class="fa fa-thumbs-up" ></i>
        </a> dislike {{pitch.likes}} <a href="/pitch/{{pitch.id}}?dislike=1">
            <i class="fa fa-thumbs-down"></i>
        </a>{{pitch.dislikes}}</p></span>
        <h5 style="text-decoration:underline">Comments</h5>
        {{macro.displayComments(comments)}}
      </div>
        <div class="col-sm-7">
          {% if current_user.is_authenticated %}
              {{ wtf.quick_form(comment_form) }}
          {%endif%}

        </div>


    </div>

</div>
{%endblock%}
